<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.webServer xdt:Transform="Insert">
		<security>
			<authentication>
				<anonymousAuthentication enabled="true"/>
				<windowsAuthentication enabled="false"/>
			</authentication>
		</security>
	</system.webServer>	
</configuration>